services:
  sportify:
    build: .
    container_name: sportify
    restart: unless-stopped

    volumes:
      - ./downloads:/app/downloads

    environment:
      - PORT=4001

    expose:
      - "4001"

    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.sportify.rule=Host(`sportify.spacelix.qzz.io`)"

      - "traefik.http.routers.sportify.entrypoints=web"

      - "traefik.http.services.sportify.loadbalancer.server.port=4001"

    networks:
      - docker_infra

networks:
  docker_infra:
    external: true